.input-field {
    height: fit-content;
    width: 100%;
    margin: auto;
    display: block;
}

.content {
    border-radius: 5px;
    border: 1px solid black;
    max-width: 50%;
}

.btn-delete {
    background-color: black;
    color: white;
}